<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Simple Results</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/base.css" type="txt/css">
    <link href="https://fonts.googleapis.com/css?family=Neucha&display=swap" rel="stylesheet">

</head>

<body>
    <div th:replace="~{shared :: nav}"></div>
    <div class="container">
        <h3>Your results:</h3>
        <form type="form" method="POST" th:action="@{/preferences/makeup/full/save}">
            <table class="table table-striped">
                <thead>
                    <tr>                       
                        <th>Primer</th>
                        <th>Foundation</th>
                        <!-- <th>Score</th> --> 
                        <th sec:authorize="hasAuthority('USER')">Save?</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="rec : ${recs}">
                        <td>
                            <p><a target="_blank" th:href="${rec.primer.url}"
                                    th:text="${rec.primer.productname}">Product</a></p>
                            <p th:text="${rec.primer.brand.brandname}">
                                <p th:text="${rec.primer.price}"></p>
                        </td>
                        <td>
                            <p><a target="_blank" th:href="${rec.foundation.url}"
                                    th:text="${rec.foundation.productname}">Product</a></p>
                            <p th:text="${rec.foundation.brand.brandname}">
                                    <p th:text="${rec.foundation.price}"></p>
                        </td>
                        <!-- <td>
                            <p th:text="${rec.compatibility}">Product</p>
                        </td> -->
                        <td>
                            <div sec:authorize="hasAuthority('USER')" class="form-check">
                                <input class="form-check-input" type="checkbox" name="savedRecs"
                                    th:value="${rec.primer.itemnumber}+'_'+${rec.foundation.itemnumber}">
                                </label>
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>
            <!-- <div class="row">
                        <div class="card col-4" th:each="rec : ${recs}">
                            <a th:href="${rec.url}">
                                <img th:src="${rec.imageurl}" class="card-img-top" th:alt="${rec.productname}">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title" th:text="${rec.productname}">Card title</h5>
                                <h5 class="card-title" th:text="${rec.brand.brandname}">Card title</h5>
                            </div>
                        </div>
                    </div> -->
            <a href="/" class="btn btn-dark">Home</a>
            <button type="submit" sec:authorize="hasAuthority('USER')" class="btn btn-dark">Save</button>
        </form>
    </div>
</body>

</html>